In [1]:
print "Hello Mike"

Hello Mike

In [2]:
for i in xrange(10):
    print "Hi Mike"

Hi Mike
Hi Mike
Hi Mike
Hi Mike
Hi Mike
Hi Mike
Hi Mike
Hi Mike
Hi Mike
Hi Mike

In [14]:
r = 42.24
area = 3.14159 * r * r
print area

5605.28016998

In [44]:
sum = 10+20+30
average = sum/3
print sum
print average

60
20

In [47]:
sum=1+2
average=sum/2
print sum
print average

3
1

In [48]:
averagefloat=sum/2.
print averagefloat

1.5

In [15]:
for r in xrange(5,10):
    area = 3.14159 * r * r
    print "the area of a circle with r=%d is %f" % (r,area)

the area of a circle with r=5 is 78.539750
the area of a circle with r=6 is 113.097240
the area of a circle with r=7 is 153.937910
the area of a circle with r=8 is 201.061760
the area of a circle with r=9 is 254.468790

In [19]:
numbers = [41, 38, 11, 9]
print numbers

[41, 38, 11, 9]

In [20]:
numbers.append(2)
print numbers

[41, 38, 11, 9, 2]

In [22]:
names=["Kelly", "Mike", "Katherine"]
print names

['Kelly', 'Mike', 'Katherine']

In [23]:
names.append("Sydney")
names.append("James")
print names

['Kelly', 'Mike', 'Katherine', 'Sydney', 'James']

In [24]:
print names[3]

Sydney

In [25]:
print names[0]

Kelly

In [26]:
for i in xrange(5):
    print "%s is %d years old" % (names[i], numbers[i])

Kelly is 41 years old
Mike is 38 years old
Katherine is 11 years old
Sydney is 9 years old
James is 2 years old

In [27]:
names.append("Bill")
numbers.append(42)
print len(names)

6

In [28]:
for i in xrange(len(names)):
    print "%s is %d years old" % (names[i], numbers[i])

Kelly is 41 years old
Mike is 38 years old
Katherine is 11 years old
Sydney is 9 years old
James is 2 years old
Bill is 42 years old

In [30]:
random.randint(1,100)

78

In [31]:
random.randint(1,100)

82

In [33]:
## how would i get 100 random numbers?

In [43]:
nums=[]
for i in xrange(100):
    nums.append(random.randint(1,100))
    
print(nums)

[97, 15, 16, 28, 68, 71, 65, 96, 86, 33, 55, 77, 48, 22, 36, 55, 7, 8, 10, 57, 54, 70, 63, 87, 22, 29, 61, 49, 43, 43, 17, 99, 52, 15, 97, 13, 63, 63, 61, 65, 36, 29, 66, 96, 7, 95, 57, 48, 42, 77, 12, 34, 25, 69, 34, 47, 75, 73, 82, 38, 39, 43, 86, 5, 13, 93, 35, 68, 78, 59, 61, 9, 24, 49, 71, 55, 77, 95, 5, 15, 62, 51, 57, 3, 50, 53, 15, 73, 25, 97, 51, 97, 8, 28, 13, 73, 82, 90, 86, 57]